@import 'tailwindcss';
@import './theme.css';

html,
body {
  font-family: 'Roboto', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media print {
  html,
  body,
  #__next {
    height: auto !important;
    min-height: 296mm !important;
    overflow: visible !important;
  }

  #__next > div,
  main,
  main > div,
  main > div > div {
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
  }

  body *,
  *::before,
  *::after {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

@page {
  size: A4 !important;
  margin: 0 !important;
}
